.AcrylicNotices {
  border: 1px solid red;
  background: var(--secondary-opacity);

  display: grid;
  grid:
    "text picture" 1fr
    / 1fr 1fr;

  .text {
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid blue;
    width: 500px;

    .title {
      border-bottom: 1px solid var(--primary);
      color: rgba(0, 44, 105, 1);

      .AcrylicTitleSpan {
        color: var(--primary);
      }
    }
  }
  .picture {
    grid-area: picture;
    border: 1px solid blue;
  }
}
