.ListItem {
  text-align: center;
  border-block-end: 1px solid var(--paragraph);

  @media (width > 768px) {
    border-block-end: none;
  }

  .link {
    color: var(--paragraph);
    font-weight: 500;

    @media (width > 968px) {
      font-size: 1rem;
    }
  }
}
