.button {
  background-color: var(--primary);
  border: none;
  color: var(--text-white);
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  width: fit-content;
}
