@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Main Colors*/
  --background: rgba(255, 255, 255, 1);
  --primary: rgba(240, 134, 118, 1);
  --secondary: rgba(26, 180, 170, 1);
  --secondary-opacity: rgba(26, 180, 170, 0.8);
  --text-white: var(--background);
  --text-black: rgba(0, 0, 0, 1);
  --card-bg: #0a5657;
  --bg-lines: url("../../public/assets/images/lines.svg") no-repeat;

  /* Interactive States  */
  --primary-hover: rgba(240, 134, 118, 0.8);
  --primary-pressed: rgba(255, 89, 64, 1);

  /* Texts */
  --text-title: rgba(23, 6, 4, 1);
  --text-body: rgba(130, 130, 130, 1);
  --paragraph: #757095;

  /* Gradients */
  --gradient-background: linear-gradient(
    270.25deg,
    rgba(240, 134, 118, 0.09) -2.6%,
    rgba(240, 134, 118, 0.027) 99.81%
  );

  /* Base Spacing */
  --space-base: 1rem;
  --space-lg: 2rem;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
