.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.25rem;
  max-height: 5rem;
  width: 100%;
  padding-inline: 1rem;
}
.icon {
  color: var(--primary);
  @media (width > 768px) {
    display: none;
  }
}
