.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.25rem;
  max-height: 5rem;
  width: 100%;
  padding-inline: 2rem;

  @media (width <= 768px) {
    padding-inline-end: 1rem;
  }
  .icon {
    @media (width >= 768px) {
      display: none;
    }
  }
}
