.section {
    padding-block: 80px;
    background: rgba(28, 180, 170, 0.09);

    .servicesContainer {
        background: var(--bg-lines);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-inline: 1rem;



        .servicesImage {
            display: none;

            @media (width > 768px) {
                display: block;
                width: 50%;
            }

            .mainImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .servicesText {
            display: flex;
            justify-content: center;
            flex: 1;
            align-items: center;

            .servicesContainer {
                flex-direction: column;
                align-items: flex-end;
                text-align: end;

                .servicesTitle {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .knowText {
                        font-weight: 400;
                        font-size: 1.75rem;
                    }

                    .titleWrapper {
                        display: flex;
                        flex-direction: column;
                        font-size: 3rem;
                        text-align: end;

                        .servicesHighlight {
                            color: var(--secondary);
                            line-height: 1.2;
                        }
                    }
                }
            }
        }
    }
}
